<form action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <div class="m-3 row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" name="name" value="{{restaurant.name}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="name_en" class="col-sm-2 col-form-label">Name_en</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name_en" name="name_en" value="{{restaurant.name_en}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="category" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="category" name="category" value="{{restaurant.category}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="image" class="col-sm-2 col-form-label">Image</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="image" name="image" value="{{restaurant.image}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="location" class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="location" name="location" value="{{restaurant.location}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="phone" name="phone" value="{{restaurant.phone}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="google_map" class="col-sm-2 col-form-label">Google Map</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="google_map" name="google_map" value="{{restaurant.google_map}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="rating" class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="rating" name="rating" value="{{restaurant.rating}}">
    </div>
  </div>
  <div class="m-3 row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="description" name="description" value="{{restaurant.description}}">
    </div>
  </div>
  <a class="btn btn-major m-3" href="/" role="button">Abort</a>
  <button type="submit" class="m-3 btn btn-major">Save</button>
</form>